<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obrada Vektorskih Slika - EPS - Encapsulated PostScript</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/logotypes/asss-logo.jfif"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav
      class="navbar sticky-top navbar-expand-lg bg-body-tertiary navbar-top bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img
            width="40"
            class="img-fluid rounded"
            src="../assets/logotypes/asss-logo.jfif"
            alt="Vectior Logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse flex-1 justify-content-end"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../index.html">Uvod</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../istorija.html"
                >Istorija</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../formati.html">
                Formati
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../softveri.html">
                Softveri
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-secondary"
                href="../poređenje-grafika.html"
              >
                Poređenje Grafika
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../slike.html">
                Slike
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../materijali.html">
                Materijali
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../video.html">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../literatura.html"
                >Literatura</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../test.html">Test</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-5">
      <div class="jumbotron text-center bg-light py-5">
        <h1 class="display-4 heading-text">EPS - Encapsulated PostScript</h1>
        <p class="lead">Istorija i karakteristike EPS formata</p>
      </div>
    </div>

    <div class="container">
      <div class="row my-5">
        <div class="col-md-12">
          <h4>Šta je EPS?</h4>
          <ul>
            <li>
              EPS je format zasnovan na PostScript jeziku, koji opisuje slike
              koristeći matematičke funkcije.
            </li>
            <li>
              Dizajniran je kao format koji omogućava jednostavnu razmenu
              grafičkog sadržaja između različitih uređaja i aplikacija.
            </li>
            <li>
              EPS format sadrži vektorski grafički sadržaj, a može uključiti i
              ugrađene slike (kao što su bitmap slike), što ga čini
              fleksibilnim.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row my-5">
        <div class="col-md-8">
          <h4>Ključne karakteristike EPS-a</h4>
          <ul>
            <li>
              <strong>Rezolucija</strong>: EPS slike zadržavaju oštrinu i
              jasnoću pri bilo kojoj rezoluciji, što ih čini pogodnim za velike
              formate poput bilborda.
            </li>
            <li>
              <strong>Skalabilnost</strong>: Kao vektorski format, EPS omogućava
              skaliranje slika bez gubitka kvaliteta, za razliku od raster
              formata (JPEG, PNG) gde dolazi do pikselizacije.
            </li>
            <li>
              <strong>Kompatibilnost</strong>: EPS format podržavaju mnogi
              grafički softveri kao što su Adobe Illustrator, CorelDRAW i
              Inkscape. Takođe, EPS datoteke se mogu koristiti u DTP (Desktop
              Publishing) aplikacijama kao što su Adobe InDesign i QuarkXPress.
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <img
            src="../assets/img/eps-file.png"
            class="img-fluid rounded"
            alt="EPS file"
          />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row my-5">
        <div class="col-md-9">
          <h4>Tipične primene EPS formata</h4>
          <ul>
            <li>
              <strong>Logotipi</strong>: EPS je jedan od najčešće korišćenih
              formata za logotipe, jer omogućava njihovo savršeno prikazivanje u
              različitim veličinama.
            </li>
            <li>
              <strong>Tipografija i ikone</strong>: EPS se koristi za
              tipografske elemente i ikone u dizajnu jer osigurava oštar izgled
              bez obzira na veličinu.
            </li>
            <li>
              <strong>Priprema za štampu</strong>: EPS se često koristi u
              štamparijama zbog svoje kompatibilnosti s PostScript pisačima.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row my-5">
        <div class="col-md-9">
          <h4>Prednosti i ograničenja</h4>
          <ul>
            <li>
              <strong>Prednosti</strong>: EPS omogućava jednostavno rukovanje
              grafičkim elementima koji se mogu štampati visoke rezolucije i
              optimalni su za razmenu među aplikacijama i uređajima.
            </li>
            <li>
              <strong>Ograničenja</strong>: EPS format nije optimalan za web
              dizajn zbog veće veličine datoteka i potrebe za specijalizovanim
              softverom za pregled.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row my-5">
        <div class="col-md-8">
          <h4>Slike vezane za EPS format</h4>
          <ul>
            <li>
              <strong>Primer EPS logotipa</strong>: Često u EPS formatu kako bi
              zadržao kvalitet prilikom promene veličine.
            </li>
            <li>
              <strong>Grafički dizajn</strong>: Vektorska slika koja prikazuje
              prednosti vektorskog formata poput jasnih ivica i besprekornog
              skaliranja.
            </li>
          </ul>
          <p>
            Evo kako bi izgledala vizuelna ilustracija EPS formata sa primerima
            kao što su logotipi i drugi grafički elementi na različitim
            veličinama.
          </p>
        </div>
        <div class="col-md-4">
          <img
            src="../assets/img/illustration1.png"
            class="img-fluid rounded"
            alt="EPS illustration 1"
          />
          <p>
            <small class="p-1"
              ><i
                >Karakteristike EPS formata, uključujući skalabilnost,
                zadržavanje kvaliteta i fleksibilnost.</i
              ></small
            >
          </p>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-footer navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a href="#" class="navbar-brand">
          <img
            class="img-fluid"
            src="../assets/logotypes/asss-logo.jfif"
            alt="ASSS Logo"
          />
        </a>

        <div class="" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Uvod</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../istorija.html">Istorija</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../formati.html">Formati</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../softveri.html">
                Softveri
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-secondary"
                href="../poređenje-grafika.html"
              >
                Poređenje Grafika
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../slike.html">
                Slike
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../materijali.html">
                Materijali
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../video.html">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../literatura.html"
                >Literatura</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="../test.html">Test</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <footer class="bg-light text-center py-4">
      <p class="copyright">
        &copy; 2024 Obrada Vektorskih Slika. Sva prava zadržana.
      </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/effects.js"></script>
  </body>
</html>
